* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column nowrap;
  font-size: 16px;
  background-color: #ccc;
}
header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header > h3 {
  text-align: center;
}
.cameraZoom {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  background-color: black;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px 3px #20f768;
}
.cameraForm {
  display: none;
}
#cameraFlip {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
#video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
