* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column wrap;
  font-size: 16px;
  word-break: keep-all;
  background-color: #eee;
}
header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header > h3 {
  text-align: center;
}
.cameraZoom {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  background-color: black;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 3px #20f768;
}
.cameraForm {
  display: none;
}
#inputVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4rem;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer > #cameraFlip {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 10px;
  background-color: #c0f0d0;
  box-shadow: 0px 0px 2px 0px #040504;
}
